global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "pb-website"
    metrics_path: "/metrics"
    scrape_interval: 10s
    scrape_timeout: 5s
    static_configs:
      - targets: ["YOUR_WEBSITE_SERVER_IP:9464"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: YOUR_WEBSITE_SERVER_IP:9464

  - job_name: "blackbox-http-general"
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://YOUR_WEBSITE_DOMAIN
        - https://api.YOUR_WEBSITE_DOMAIN
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]
